{% extends "network/layout.html" %}

{% block body %}

    {% if messages %}
        {% for message in messages %}
        <div{% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert"{% endif %}>{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}

    {% if user.is_authenticated %}
    <h3>Add New Post</h3>
    <form action="{% url 'new_post' %}" id="newPost" method="post">
        {% csrf_token %}        
        <textarea name="body" cols="40" rows="10" required></textarea>        
        <input class="btn btn-primary" type="submit" value="Post">
    </form>
    {% endif %}
    
    <h3>All Posts</h3>
    <ul id="posts">
        {% for post in posts %}
            <li>
                <div class="post-container" data-post_id={{ post.id }}>
                    <p><a href="{% url 'profile' username=post.author.username %}">{{ post.author.username }}</a></p>
                    <small>{{ post.created_at }}</small>
                    <div class="post-body">{{ post.body }}</div>
                    {% if post.author == user %}
                    <a href="#" class="btn btn-sm btn-primary edit-post" data-post_id={{ post.id }} onclick="editPost(event)">Edit</a>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>

    <div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ posts.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
            </span>
    
            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">next</a>
                <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}

