{% extends "network/layout.html" %}

{% block body %}
<h2>{{ user_profile.user.username }}</h2>
{% if user != user_profile.user %}
    <input class="btn btn-primary" type="submit" data-user_profile={{ user_profile.id }} value="{{ function_to_call }}" onclick="{{ function_to_call }}(event)"/>
{% endif %}
<div> 
    followers {{ user_followers|length }} 
</div>
<div>
    following {{ user_follows|length }}
</div>
<h3>Your posts</h3>
<ul id="navigation">
    {% for post in user_posts %}
        <li>
            <small>{{ post.created_at }}</small>
            <p>{{ post.body }}</p>
        </li>
    {% endfor %}
</ul>
{% endblock %}