{% extends "network/layout.html" %}

{% block body %}
<h2>Welcome, {{ request.user.username }}</h2>
 <div>
    {{ request.user.username }}, you have 
        {{ user_followers|length }}
    followers
</div>
 <ul id="navigation">
    {% for user_follower in user_followers %}
        <li>{{ user_follower.user.username }}</a></li>
    {% endfor %}
</ul>
<div>
    {{ request.user.username }}, you follow 
        {{ user_follows|length }}
    users
</div>
<ul id="navigation">
    {% for user_follow in user_follows %}
        <li>{{ user_follow.user.username }}</a></li>
    {% endfor %}
</ul>
<ul id="navigation">
    {% for post in user_posts %}
        <li>{{ post.body }}</a></li>
    {% endfor %}
</ul>
{% endblock %}